
<!DOCTYPE html>
<html>

    <head>
        <title>Copinx</title>
        <link rel="stylesheet" href="/stylePages.css">
        <link rel="stylesheet" href="/styleWater.css">
    </head>

    <body>


        <div class="navbar">
            <div class="copinx" onclick="location.href='/home'">
                Copinx
            </div>

            <div class="navbar-item" onclick="location.href='/profile/'+usuarioNome">
                Profile
            </div>
            <div class="navbar-item" style="margin-left: 90vw;" onclick="location.href='/friends'">
                Friends
            </div>
            <div class="navbar-item" style="margin-left: 85vw;" onclick="location.href='/waters.'">
                Waters
            </div>
        </div>


        <div class="waterInfo">

            <div class="waterImg">

                <div class="reviewButton" onclick="document.getElementById('reviewScreen').removeAttribute('hidden')">
                    <div class="reviewButtonText">
                    Review water
                    </div>
                </div>

            </div>

            <div class="waterText">

                <div class="waterTitle" th:inline="text">
                    [[${waterName}]]
                    <div class="waterType">
                        Empresa
                    </div>
                </div>

                <div class="waterDescription" th:inline="text">
                    [[${waterDescription}]]
                </div>

                <div class="littleCopos">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <br>
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                    <img class="littleCopoGrande" src="/CopoGrande_vazio.svg">
                </div>

                <div class="waterDescription" th:inline="text">
                    [[${waterRating}]]
                </div>


                <div class="recentReviews">
                    <div class="review">
                        <div class="nameReview">
                            LuizFF
                        </div>
                        <div class="descriptionReview">
                            Tetse
                        </div>
                    </div>
                </div>


            </div>



        </div>

        <div class="reviewScreen" hidden="true" id="reviewScreen">

            <div class="reviewRectangle">
                <textarea type="text" class="descriptionReview" id="description" placeholder="Do you wanna say something about this water?"></textarea>
                <br>
                <input type="number" min="1" max="10" placeholder="rating" class="ratingReview">
                <br>
                <br>
                <div class="buttonsReview">
                    <div class="sendReview" onclick="review()">
                        <div class="reviewButtonText">
                        Add review
                        </div>
                    </div>
                    <div class="cancel" onclick="document.getElementById('reviewScreen').setAttribute('hidden', true)">
                        <div class="reviewButtonText" style="color: black;">
                            Cancel
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

    <script defer>

        loadCopos();
        function loadCopos(){
            nota = document.getElementsByClassName("waterDescription")[1].innerHTML.replaceAll(" ", "").replaceAll("\n", "");
            console.log(nota);
            if(nota == "NaN")
                nota = 0;
            document.getElementsByClassName("waterDescription")[1].innerHTML = nota+" little copos";
            
            divCopos = document.getElementsByClassName("littleCopos")[0];
            divCopinhos = document.getElementsByClassName("littleCopoGrande");
            for(var i = 0; i<parseInt(nota); i++){
                divCopinhos[i].src="/CopoGrande.svg";
            }
        }

        loadReviewClick()
        function loadReviewClick(){
            reviewButton = document.getElementsByClassName("sendReview")[0]
            waterName = location.href.split("/")
            waterName = waterName[waterName.length-1]
            reviewButton.setAttribute("onclick", "review(\""+waterName+"\")")
        }

        function review(name){

            var nota_  = document.getElementsByClassName("ratingReview")[0].value;
            var descricao_ = document.getElementById("description").value;

            var url = "/api/review/add?"
            url+= new URLSearchParams({agua: name, nota: nota_, descricao: descricao_})

            fetch(url, {method: "POST"})
            .then(function (response){
                return response.text();
            })
            .then(function (text){
                alert(text);
                location.reload();
            })
        }

    </script>

    <script>

        var listaAgua;
        var conteudo = "";
        var usuarioNome;


        var url = "/api/getUsuarioByToken"
        var cookie = parseCookies()["token"]
        url+="?token="+cookie
        fetch(url, {method: "GET"})
        .then(function (response){
            if(response.status == 200){
                return response.text();
            }
            return null
        })
        .then(function (text){
            if(text == null){
                return
            }
            usuarioNome = text;
            console.log(text)
        })


        function parseCookies() {
            var cookies = document.cookie.split(";");

            var parsedCookies = {};
            cookies.forEach(function(cookie) {
                var parts = cookie.split("=");
                var name = parts[0].trim();
                var value = parts[1].trim();

                parsedCookies[name] = value;
            });

            return parsedCookies;
        }


    </script>


</html>